{% extends "base.html" %}
{% load static %}
{% block style %}
{% endblock %}
{% block page-header %}
<div class="page-header position-relative">
	<h1>
		Form Elements
		<small>
			<i class="icon-double-angle-right"></i>
			Common form elements and layouts
		</small>
	</h1>
</div><!--/.page-header-->
{% endblock %}
{% block body %}
<table id="datadict-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="center">
				<label>
					<input type="checkbox" class="ace" />
					<span class="lbl"></span>
				</label>
			</th>
			<th>排序</th>
			<th>代码</th>
			<th>代码名称</th>
			<th>状态</th>
			<th class="hidden-480">Status</th>

			<th></th>
		</tr>
	</thead>

	<tbody>
		{% for row in object_list %}
		<tr>
			<td class="center">
				<label>
					<input type="checkbox" class="ace" />
					<span class="lbl"></span>
				</label>
			</td>

			<td class="hidden-phone">{{row.order}}</td>
			<td>
				<a href="{% url datadict-update row.id %}">{{row.code}}</a>
			</td>
			<td>{{row.name}}</td>
			<td class="hidden-480">
				<span class="label {% if row.status %}label-success{%else%}label-warning{%endif%}">{% if row.status %}启用{%else%}停用{%endif%}</span>
			</td>

			<td>
				<div class="hidden-phone visible-desktop action-buttons">
					<a class="blue" href="#">
						<i class="icon-zoom-in bigger-130"></i>
					</a>

					<a class="green" href="#">
						<i class="icon-pencil bigger-130"></i>
					</a>

					<a class="red" href="#">
						<i class="icon-trash bigger-130"></i>
					</a>
				</div>

				<div class="hidden-desktop visible-phone">
					<div class="inline position-relative">
						<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
							<i class="icon-caret-down icon-only bigger-120"></i>
						</button>

						<ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
							<li>
								<a href="#" class="tooltip-info" data-rel="tooltip" title="View">
									<span class="blue">
										<i class="icon-zoom-in bigger-120"></i>
									</span>
								</a>
							</li>

							<li>
								<a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
									<span class="green">
										<i class="icon-edit bigger-120"></i>
									</span>
								</a>
							</li>

							<li>
								<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
									<span class="red">
										<i class="icon-trash bigger-120"></i>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block pluginscripts %}
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.bootstrap.js" %}"></script>
{% endblock %}

{% block pagescripts %}
<script>
$(function(){
	var oTable1 = $('#datadict-table').dataTable( {
	"aoColumns": [
	  { "bSortable": false },
	  null, null,null, null, null,
	  { "bSortable": false }
	] } );
	
	
	$('table th input:checkbox').on('click' , function(){
		var that = this;
		$(this).closest('table').find('tr > td:first-child input:checkbox')
		.each(function(){
			this.checked = that.checked;
			$(this).closest('tr').toggleClass('selected');
		});
			
	});


	$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
	function tooltip_placement(context, source) {
		var $source = $(source);
		var $parent = $source.closest('table')
		var off1 = $parent.offset();
		var w1 = $parent.width();

		var off2 = $source.offset();
		var w2 = $source.width();

		if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
		return 'left';
	}
});
</script>
{% endblock %}
