{% extends "base.html" %}
{% load static %}
{% block style %}
{% endblock %}
{% block page-header %}
<div class="page-header position-relative">
	<h1>
		Form Elements
		<small>
			<i class="icon-double-angle-right"></i>
			Common form elements and layouts
		</small>
	</h1>
</div><!--/.page-header-->
{% endblock %}

{% block body %}
<form class="form-horizontal" action="." method="POST">{% csrf_token %}
	{{form.as_p}}
	{%comment%}
	<div class="control-group">
		<label class="control-label" for="form-field-1">代码</label>

		<div class="controls">
			<input type="text" name="code" id="form-field-1" placeholder="代码" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="form-field-2">代码名称</label>

		<div class="controls">
			<input type="text" name="name" id="form-field-2" placeholder="代码名称" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="form-field-3">状态</label>

		<div class="controls">
			<input type="text" name="status" id="form-field-3" placeholder="状态" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="form-field-4">排序</label>

		<div class="controls">
			<input type="text" name="order" id="form-field-4" placeholder="排序" />
		</div>
	</div>

	{%endcomment%}
	<div class="form-actions">
		<button class="btn btn-info" type="submit">
			<i class="icon-ok bigger-110"></i>
			保存
		</button>

		&nbsp; &nbsp; &nbsp;
		<button class="btn" type="reset">
			<i class="icon-undo bigger-110"></i>
			重置
		</button>
	</div>

</form>
{% endblock %}

{% block pluginscripts %}
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.bootstrap.js" %}"></script>
{% endblock %}

{% block pagescripts %}
<script>
$(function(){
	var oTable1 = $('#datadict-table').dataTable( {
	"aoColumns": [
	  { "bSortable": false },
	  null, null,null, null, null,
	  { "bSortable": false }
	] } );
	
	
	$('table th input:checkbox').on('click' , function(){
		var that = this;
		$(this).closest('table').find('tr > td:first-child input:checkbox')
		.each(function(){
			this.checked = that.checked;
			$(this).closest('tr').toggleClass('selected');
		});
			
	});


	$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
	function tooltip_placement(context, source) {
		var $source = $(source);
		var $parent = $source.closest('table')
		var off1 = $parent.offset();
		var w1 = $parent.width();

		var off2 = $source.offset();
		var w2 = $source.width();

		if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
		return 'left';
	}
});
</script>
{% endblock %}
